.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  @include md {
    .nav__link {
      display: none;
    }
    .nav__menu-btn {
      display: block;
    }
    @include sm {
      justify-content: space-between;
    }
  }

  &__link {
    margin: 0 10px;
    font-size: 16px;
    line-height: 19px;
    color: #4f5665;
  }
  &__sign-in {
    font-size: 16px;
    line-height: 19px;
    margin-right: 20px;
    color: #0b132a;
  }
  &__sign-up {
    width: 150px;
    height: 45px;
    padding: 10px 10px;
    border-style: solid;
    border-radius: 50px;
    border-color: red;
    font-size: 16px;
    line-height: 19px;
    color: #f53838;
  }
}

.nav__menu-btn {
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
}
