// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;
 
// typografy
$xxl-text:35px;
$xl-text:25px;
$lg-text:20px;
$md-text:18px;
$sm-text:16px;
$xs-text:14px;
// mics
$rounded:10px;